@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto', serif;

//text sizing
$textSm: 1rem;
$textMs: 1.3rem;
$textMd: 1.5rem;
$textLg: 2rem;
$textXl: 2.5rem;

//font weight
$bBold: 700;
$bold: 500;
$regular: 400;
$ligth: 300;