.contenedorProd{
   background-color: $secondaryColor;
   display: flex;
 	justify-content: space-between;
}

.textLeft{
	text-align: left;
}

.categorias{
	background-color: $secondaryColor;
	color:$mainColor ;
	padding: 10px 30px;
	line-height: 1.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-size: $textMd;
	font-family: $mainFont;
   font-weight: $regular;
   border-radius: 20px;
   .categorias form{
		margin-bottom: 20px;
	}
	.categorias img{
		margin-bottom: 30px;
	}
}

ul li{
	list-style: none;
	a{
		text-decoration: none;
		color: $mainColor;
		&:hover{
		font-weight: $bold;
		color: $mainColor;
		}
	}
}
	
form select{
	background-color: $mainColor;
	color: $white;
	border-color: $white;
	margin-top: 25px;
}

.prodTitulo{
	font-size: $textMd;
	color: $mainColor;
	padding: 10px 0;
	text-align: center;
	font-weight: $regular;
	font-family: $mainFont;
}

.prodPrecio{
	font-size: $textMd;
	color: $mainColor;
	padding: 10px 0;
	text-align: center;
	font-weight: $bold;
	font-family: $mainFont;
	margin-top: -10px;
}

.cursorLupa{
	cursor: zoom-in;
}

.btnTerapia{
   background-color: $mainColor;
   font-weight: $bold;
   font-size: $textMs;
   color: $secondaryColor;
   text-align: center;
   margin-top: -10px;
	&:hover{
      background-color: $secondaryColor;
   }
}
