//variables globales
$mainColor: rgba(66, 3, 61, 1.0);
$secondaryColor: #E7D0F1;
$transparencia1: rgba(66, 3, 61, 0.3);
$transparencia2: rgba(66, 3, 61, 0.5);
$white: white;
$outline: rgba(0, 0, 0, 0);